<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Webblen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>webblen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1366128250170949</string>
				<string>com.googleusercontent.apps.618036466482-k34kcq6fv7d87sgs6iggv10eh7uag8mf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.webblen.events</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1366128250170949</string>
	<key>FacebookDisplayName</key>
	<string>Webblen</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2136415475966451~5144610810</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Webblen Would Like Access to Your Media to Save and Access Audio/Video You've Recorded</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Webblen Would Like Access to Your Calendar to Add Events</string>
	<key>NSCameraUsageDescription</key>
	<string>this will enable you to take take photos and stream video for your account and events.</string>
	<key>NSContactsUsageDescription</key>
	<string>Webblen Would Like to Access Your Contacts to Share Streams and Events</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Webblen Would Like to Access Your Location to Let You Know About Events Happening Around You</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Webblen Would Like to Access Your Location to Let You Know About Events Happening Around You</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Webblen Would Like to Access Your Location to Let You Know About Events Happening Around You</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Webblen Would Like to Access Your Microphone for Streaming Video</string>
	<key>NSMotionUsageDescription</key>
	<string>Webblen Would Like to Access Your Motion Activity to Let You Check Into Events</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Webblen Would Like Access to Your Media to Save and Access Images You've Taken</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>this will enable you to choose photos from your library and save videos recorded from streams.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Webblen Would Like to Use Speech Recognition for Voice to Text</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Webblen Would Like Access to Your Music to Connect with Live Streams</string>
</dict>
</plist>
